body {
    font-family: "Roboto", sans-serif;
    font-size: 13pt;
    margin:    0 auto;
    max-width: 800px;
  }

h1 {
    font-size: 16pt;
}

h2 {
    font-size: 14pt;
}

.concept {
    margin-top: 40px;
    margin-bottom: 10px;
    padding: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #8b867a;
    margin: 5px;
}

.heading {
    text-decoration: underline;
}


element.style {
    border-top-width: 2px;
    border-left-width: 2px;
    border-bottom-width: 2px;
}

.concept>p {
    margin: 2px;
}

.literal-block {
    font-family: "Inconsolata";
    color: blue;
    background: lightgrey;
}